*{
    margin: 0;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header start */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    padding: 10px;
    background-color: #f6f3ec;
    
}

.logo{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo img {
    margin: 0.2rem;
    max-height: 30px; 
    border-radius: 0.3rem;
    
}

.logo img:hover{
    border-radius: 25%;
    transition: 1s;
    transform: rotate(45deg);
}

.logo p{
    font-family: cursive;
    margin: 0.8rem;
    font-weight: 600;
    font-size: 1.2rem;
    color: rgb(155, 38, 20);
}

nav ul {
    list-style-type: none;
    margin: 0.2rem;
    padding: 0.2rem;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: #1e1918; 
}

nav a:hover{
    border: 2px solid rgba(235, 110, 38, 0.601);
    border-radius: 8px;
    padding: 7px;
    background-color: #f0c99fbc;
}
/* header end */

/* main-content start */
section {
    height: 100vh;
}
.main-content {
    display: flex;
    align-items:center;
    justify-content: center;
    text-align: center;
    overflow: hidden; 
}

.content-wrapper {
    /* position: relative; */
    z-index: 2; 
    color: white;
    height: 50%;
    width: 80%; 
    
}

#bgVideo {
    width: 100%;
    object-fit: calc(100vw);
    position: absolute;
    bottom: -18rem;
    left: 0;
    height: 100%;
    z-index: 1; /* Place the video behind the content */
}

.content-wrapper h1 {
    font-size: 3.5rem;
    color: #000000;
   
}

.content-wrapper p {
    font-size: 25px;
    color: rgba(49, 49, 52, 0.75);
    padding: 10px;
    line-height: 2rem;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f57858;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 2%;
}


/* main-content end */

/* feature start */
.features {
    height: calc(90%);
    padding: 60px;
}

.myHeading{
    margin-top: 2rem;;
}

.myHeading p{
    text-align: center; 
    padding-top: 3rem; 
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 2.5rem;
    color: #000001be;
}



 .features-list{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
} 

.feature-video video{
    height: 30%;
    max-width: 70%;   
}

.myList{
    background-color: #e4d5a411;
    height: 50%;
    width: 30%;
    padding: 20px;
    display: flex; 
    border: 2px solid rgba(205, 140, 49, 0.212);
    border-radius: 25px;
    font-family: cursive
}

.myList ul {
    color: rgba(23, 23, 28, 0.75);
    font-size: 20px;
    list-style-type: none;
    line-height: 3.5rem;
}
/* feature end */

/* todo start  */
.todo {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
   
}

.img-todo {
    
    overflow: hidden;
    height: 500px;
    width: 500px;
}

.img-todo img{
    height: 100%;
    width: 100%;
    
    filter:drop-shadow(10%);
    transition: 0.5s ease;
    cursor: pointer;
}
.img-todo img:hover{
    transform: scale(1.3);
    filter: grayscale(0%);
}
.todo .container {
    width: 500px;
    margin: 0 ;
    height: 500px;
    background-color: #a827104c;
    border-left: 4px solid rgba(34, 8, 4, 0.767);
    border-radius: 15% 2% 2% 15%; 
    overflow: auto; 
}

.todo h1 {
    font-family: cursive;
    font-size:30px;
    text-align: center;
    color: #531305;
    padding: 20px;
}

.todo #task-form {
    display: flex;
    margin-bottom: 10px;
    padding: 20px;
}

.todo #task-input {
    flex: 1;
    padding: 8px;
    border: none;
    background-color: #f3eeeea1;
    
}

.todo ul {
    list-style-type: none;
    padding: 0;
}

.todo li {
    background-color: #ffffff7f;
    margin: 20px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.todo button {
    background-color: #f5a958d3;
    color: #fff;
    border: none;
    padding: 3px;
    cursor: pointer;
}

/* todo end */

/* footer start */
footer {
    position: relative;
    z-index: 2;
    text-align: center;
    padding: 10px;
    background-color: #f6f3ec;
    color: #000000;
    width: 100%;
}

/* footer end */

.features, .todo {
    position: relative;
    z-index: 2;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 20px;
    margin-top: 20px;
}






